.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #2d3c64;
	border-radius: .25rem;
}


.btnCustomBlue {
	background-color: #4d69b0;
	border-color: #2d3c64;
}


.card-headerCustom {
	background-color: #4d69b0;
	color: whitesmoke;
}