<nav class="navbar navbar-expand-sm bg-light "> 
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/itribomatlogo.svg" width="180" height="50" alt="" loading="lazy">
    </a>
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item"> 
          <a class="nav-item nav-link navbar_text" routerLink="/">Home</a>
      </li> 
      <li class="nav-item" *ngIf="!currentUser"> 
          <a class="nav-item nav-link navbar_text" routerLink="/login">Sign in</a>
      </li> 
      <li class="nav-item" *ngIf="currentUser"> 
        <a class="nav-item nav-link" routerLink="/private"> <strong>Private</strong> </a>
        <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/private">Private</button> -->
      </li> 
      <!-- <li class="nav-item" *ngIf="currentUser"> 
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      </li>  -->
      <li class="nav-item" *ngIf="currentUser"> 
          <!-- <a class="nav-item nav-link navbar_text" (click)="logout()">Sign out</a>  -->

        <a class="nav-item nav-link navbar_text" (click)="logout()" title="Sign out">
          <svg width="1.6em" height="1.6em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
          </svg>
        </a> 
      </li> 
    </ul>
  </div> 
</nav> 

<!-- main app container -->  
<router-outlet></router-outlet>


<footer style="background-color: #e6e6e6;" >
    <div class="container">
      <div class="row ">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <div class="footer_innercontainer">
            <h4 class="footer_title">i-TRIBOMAT</h4><br>
            <p class="footer_text"> Intelligent Open Test Bed for Materials</p>
            <p class="footer_text"> Tribological Characterisation Services</p>
          </div>
        </div>

        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <div class="footer_innercontainer">
            <h4 class="footer_title">COMPANY</h4><br>
            <a class="footer_link" href="https://www.i-tribomat.eu/index.html">Home</a><br>
            <a class="footer_link" href="https://www.i-tribomat.eu/partner.html">Project Partners</a><br>
            <a class="footer_link" href="https://www.i-tribomat.eu/project.html">The Project</a><br>
            <a class="footer_link" href="https://www.i-tribomat.eu/news-overview.html">News</a><br>
            <a class="footer_link" href="https://www.i-tribomat.eu/jobs.html">Jobs</a>
          </div>
        </div>
    

        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="footer_innercontainer">
              <h4 class="footer_title">ABOUT</h4><br>
              <a class="footer_link" href="https://www.i-tribomat.eu/corporate-information.html">Corporate Information</a><br>
              <a class="footer_link" href="https://www.i-tribomat.eu/privacy.html">Privacy Notice</a><br>
              <a class="footer_link" href="https://www.i-tribomat.eu/cookies.html">Cookie Policy</a><br>
              <a class="footer_link" href="https://www.i-tribomat.eu/termsofuse.html">Terms of use</a><br>              
            </div>
        </div>

        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="footer_innercontainer">
              <h4 class="footer_title">CONTACT US</h4><br>
              <p class="footer_text"> AC2T research GmbH</p>
              <p class="footer_text"> Viktor-Kaplan-Str. 2/C</p>            
              <p class="footer_text"> 2700 Wiener Neustadt, Austria</p>            
            </div>
        </div>

      </div>
    </div>

    <div class="container-fluid bottom_area d-flex justify-content-center align-items-center">
        <div class="row ">
            <span class="bottom_text"> © 2019 AC2T research GmbH | </span>
            <img src="https://www.i-tribomat.eu/img/eu.png" height="15" style="margin-right: 5px; margin-left: 5px;"/>
            <span class="bottom_text">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No. 814494</span>
        </div>
    </div>

  </footer>