<div class="header_area"> </div>   

<div class="container">
    <div class="row">
        <div class="image">
            <img src="./assets/solution.png" class="responsiveimg"/>
        </div>    
    </div>
</div>

<div class="container-fluid contact_area d-flex justify-content-center align-items-center">
    <div class="row w-100">

        <div class="col ">
            <div class="row">
                <div class="col">
                    <h2 class="contact_title d-flex justify-content-center">Contact Us</h2>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col d-none d-sm-block col-lg-4 col-xl-4">
                    
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="https://twitter.com/itribomat/"  target="_blank">
                        <img src="./assets/twitter.png" class="img-fluid"/>
                    </a>
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="https://www.linkedin.com/company/i-tribomat"  target="_blank">
                        <img src="./assets/linkedin.png" class="img-fluid"/>
                    </a>
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="mailto:i-tribomat@ac2t.at">
                        <img src="./assets/mail.png" class="img-fluid"/>
                    </a>
                </div>
               <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="" title="+43 (0) 2622 8160 0">
                        <img style="height: 85px; width: 85px;" src="./assets/phone.png" class="img-fluid"/>
                    </a>
                </div> 
                <div class="col d-none d-sm-block col-lg-4 col-xl-4">
                    
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">                                               
                        <a style="color: whitesmoke;" target="_blank" class="btn btn-default" href="https://www.i-tribomat.eu/contact.html">
                            CONTACT US NOW                                                       
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>