<div class="header_area"> 
    <div class="header_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>i-TRIBOMAT SEP portal</h1>
                    <h2>Intelligent Open Test Bed for Materials Tribological Characterisation Services</h2>
                </div>
            </div>

        </div>
    </div>
</div>   

<div class="container">
    <div class="row">
         
        <div class="col-sx-12 col-sm-12 col-md-12col-lg-12 col-xl-12 mt-4" style="text-align: center;">
            <h1><strong style="color:#2c3c64; font-style: italic;">The One-Stop Shop for Tribological characterisation of advanced materials</strong></h1>
        </div>

        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row no-gutters">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pt-4">
                    <img src="./assets/img1.png" class="card-img">
                </div>
                <div class="col-sx-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong style="color:#4d69b0;">Industrial needs</strong></h4>
                        <p class="card-text text" style="font-size: 16px;">New material and product design.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row no-gutters">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pt-4">
                    <img src="./assets/img2.png" class="card-img">
                </div>
                <div class="col-sx-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong style="color:#4d69b0;">Shared infrastructure</strong></h4>
                        <p class="card-text text" style="font-size: 16px;">Tribological materials characterisation.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row no-gutters">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pt-4">
                    <img src="./assets/img3.png" class="card-img">
                </div>
                <div class="col-sx-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong style="color:#4d69b0;">Data driven services</strong></h4>
                        <p class="card-text text" style="font-size: 16px;">Data sharing and data storing.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col d-none d-lg-block col-lg-2 col-xl-2">
                    
        </div>

        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row no-gutters">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pt-4">
                    <img src="./assets/img4.png" class="card-img">
                </div>
                <div class="col-sx-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong style="color:#4d69b0;">Customer interface</strong></h4>
                        <p class="card-text text" style="font-size: 16px;">Simulation and upscaling. Virtual workrooms.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="row no-gutters">
                <div class="col-sx-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pt-4">
                    <img src="./assets/img5.png" class="card-img">
                </div>
                <div class="col-sx-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong style="color:#4d69b0;">Customer value</strong></h4>
                        <p class="card-text text" style="font-size: 16px;">Fast Time-to-Market. Cost efficient. Material validation.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col d-none d-sm-block col-lg-4 col-xl-4">
                    
        </div>

        <div class="col-sx-12 col-sm-12 col-md-12col-lg-12 col-xl-12 mb-4" style="text-align: center;">
            <h2><strong style="color:#2c3c64; font-style: italic;">Trusted characterisation and qualification of materials</strong></h2>
        </div>

    </div>
</div>


<div class="container-fluid bg-light">
    
    <div class="col-sx-12 col-sm-12 col-md-12col-lg-12 col-xl-12 mt-4" style="text-align: center;">
        <h1 style="padding-top: 30px; padding-bottom: 20px;"><strong style="color:#2c3c64;">News</strong></h1>
    </div>
    <div class="row card_area">

        <div class="col d-none d-sm-block col-lg-2 col-xl-2"></div> 

        <div class="col col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="card mb-2 nopadding">
                <img class="card-img-top" src="./assets/news/new1.png" />
                <div class="card-body">
                    <h4 class="card-title card_title">i-TRIBOMAT Newsletter</h4>
                    <br />
                    <p class="card-text card_text">i-TRIBOMAT – Intelligent Open Test Bed for Materials Tribological Characterisation Services [...]</p>
                    <br />            
                    <a class="card_link" href="https://www.i-tribomat.eu/newsletter1.html" target="_blank">Read More &gt;</a> 
                </div>
            </div>
        </div>    

        <div class="col col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="card mb-2 nopadding">
                <img class="card-img-top" src="./assets/news/new2.png" />
                <div class="card-body">
                    <h4 class="card-title card_title">Press release ÖTG</h4>
                    <br />
                    <p class="card-text card_text">The "research subsidiary" of the Austrian Tribology Society, the Competence Center for Tribology in Wiener Neustadt (AC2T research GmbH), 
                        brings the first "Open Innovation Test Bed" to Austria [...]</p>
                    <br />
                    <a class="card_link" href="https://www.i-tribomat.eu/pressrelease.html" target="_blank">Read More &gt;</a>
                </div>
            </div>
        </div>

        <div class="col col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="card mb-2 nopadding">
                <img class="card-img-top" src="./assets/news/new3.jpg" />
                <div class="card-body">
                    <h4 class="card-title card_title">22nd International Colloquium Tribology Conference</h4>
                    <br />
                    <p class="card-text card_text">i-TRIBOMAT at the 22nd International Colloquium Tribology Conference [...]</p>
                    <br />
                    <a class="card_link" href="https://www.i-tribomat.eu/taeconference.html" target="_blank">Read More &gt;</a>
                </div>
            </div>
        </div>

    </div>
    <br />
</div>

<div class="container-fluid contact_area d-flex justify-content-center align-items-center">
    <div class="row w-100">

        <div class="col ">
            <div class="row">
                <div class="col">
                    <h2 class="contact_title d-flex justify-content-center">Contact Us</h2>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col d-none d-sm-block col-lg-4 col-xl-4">
                    
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="https://twitter.com/itribomat/"  target="_blank">
                        <img src="./assets/twitter.png" class="img-fluid"/>
                    </a>
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="https://www.linkedin.com/company/i-tribomat"  target="_blank">
                        <img src="./assets/linkedin.png" class="img-fluid"/>
                    </a>
                </div>
                <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="mailto:i-tribomat@ac2t.at">
                        <img src="./assets/mail.png" class="img-fluid"/>
                    </a>
                </div>
               <div class="col col-sm-3 col-md-3 col-lg-1 col-xl-1 d-flex justify-content-center align-items-center">
                    <a class="" href="" title="+43 (0) 2622 8160 0">
                        <img style="height: 85px; width: 85px;" src="./assets/phone.png" class="img-fluid"/>
                    </a>
                </div> 
                <div class="col d-none d-sm-block col-lg-4 col-xl-4">
                    
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">                                               
                        <a style="color: whitesmoke;" target="_blank" class="btn btn-default" href="https://www.i-tribomat.eu/contact.html">
                            CONTACT US NOW                                                       
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>