<div class="container">  
    <div class="col-md-12" style="height: 20px;"></div>
    <div class="col-md-10 offset-md-1 mt-5 mb-5">
        <div class="card">
            <h4 class="card-header card-headerCustom">My private area</h4>


            <div class="card-body row">
                <div class="col-md-4 pt-1" >          
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="#2d3c64" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span style="margin-left: 5px;">{{userProfile.value.short_name}}</span>
                </div>

                <div class="col-md-8" style="text-align: right;">
                    <button type="button" class="btnCustomBlue btn btn-primary mr-1" (click)="clearStorage()">
                        <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <span style="margin-left: 5px;" class="badge badge-success">2</span>  
                    </button>
                    <button type="button" class="btnCustomBlue btn btn-primary">
                        <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                        </svg>
                        <span style="margin-left: 5px;" class="badge badge-warning">9</span>  
                    </button>
                </div>
                <div class="dropdown-divider col-md-12" style="margin-bottom: 15px;"></div>

                <div class="container">

                    <div class="card mb-3 about_card_area">
                        <div class="row no-gutters">
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-4">
                                <img src="./assets/img1.png" class="card-img">
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ">
                                <div class="card-body">
                                    <h5 class="card-title"><strong style="color:#4d69b0;">My profile</strong></h5>
                                    <p class="card-text text">In this section the user will be able to complete their profile as well as edit when is needed. The user profile has to be completed to be able to create a service request . </p>
                                    <!-- <p class="card-text text"><small class="text-muted">Mariya Gabriel, the Commissioner for Digital Economy and Society 
                                    <a target="_blank" title="Go to source" class="text-muted" href="https://ec.europa.eu/digital-single-market/en/news/next-steps-digitising-european-industry-strategy-are-discussed-european-commission-hosted-high"> [Source] </a></small></p> -->

                                    <div class=" card text-right" > 
                                        <a href="#" class="btnCustomBlue btn btn-primary" routerLink="/profile">Edit my profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 about_card_area">
                        <div class="row no-gutters">
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-4">
                                <img src="./assets/img2.png" class="card-img">
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ">
                                <div class="card-body">
                                    <h5 class="card-title"><strong style="color:#4d69b0;">Service request</strong></h5>
                                    <p class="card-text text">Create a new service request, this section provides a form in which the user can specify the service specifications. There are different options for creating a complete request. </p>
                                    <!-- <p class="card-text text"><small class="text-muted">Mariya Gabriel, the Commissioner for Digital Economy and Society 
                                    <a target="_blank" title="Go to source" class="text-muted" href="https://ec.europa.eu/digital-single-market/en/news/next-steps-digitising-european-industry-strategy-are-discussed-european-commission-hosted-high"> [Source] </a></small></p> -->

                                    <div class=" card text-right" > 
                                        <a href="#" class="btnCustomBlue btn btn-primary" routerLink="/service">Create new service request</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 about_card_area">
                        <div class="row no-gutters">
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pt-4">
                                <img src="./assets/img4.png" class="card-img">
                            </div>
                            <div class="col-sx-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ">
                                <div class="card-body">
                                    <h5 class="card-title"><strong style="color:#4d69b0;">My services</strong></h5>
                                    <p class="card-text text">Manage your requests, this section provides all the necessary tools to see, edit and remove all the user reuqest. </p>
                                    <!-- <p class="card-text text"><small class="text-muted">Mariya Gabriel, the Commissioner for Digital Economy and Society 
                                    <a target="_blank" title="Go to source" class="text-muted" href="https://ec.europa.eu/digital-single-market/en/news/next-steps-digitising-european-industry-strategy-are-discussed-european-commission-hosted-high"> [Source] </a></small></p> -->

                                    <div class=" card text-right" > 
                                        <a href="#" class="btnCustomBlue btn btn-primary" routerLink="/private">Manage my services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>  
    <div class="col-md-12" style="height: 50px;"></div>
</div>